In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\amram\anaconda3\envs\pythondata\lib\site-packages (2.8.6)

In [3]:
%matplotlib notebook

Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all, trying to prove your technical mettle.) This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:

In [4]:
#Import dependencies
import pandas as pd
import numpy as np
import psycopg2
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
%matplotlib inline

In [ ]:
#Format connection ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
engine = create_engine(f'postgresql://username:password@localhost:52134/employees_db')
connection = engine.connect()

In [ ]:
#Import salaries table
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)
salaries_df.head()

In [ ]:
#Import employees
employees_df = pd.read_sql("SELECT * FROM employees", connection)
employees_df.head()

In [ ]:
#Import titles
titles_df = pd.read_sql("SELECT * FROM titles", connection)
titles_df.head()

Create a histogram to visualize the most common salary ranges for employees.

In [ ]:
#Histogram
fig.plt.figure
plt.hist(salaries_df["salary"])
plt.xlabel("Employee Salary (USD)")
plt.xticks

plt.ylabel("Frequency: Number of Employees")
plt.yticks
plt.ylim(0, 160000)

plt.grid()
plt.title("Common Employee Salaries Histogram")
plt.show()

Create a bar chart of average salary by title.